<section id="courseAd">
    <div class="container">
        <div class="textBox">
            <p class="title">Ready to get started?</p>
            <h2>Take Your <span class="purple">Skills</span> to the<br>Next Level</h2>
            <button class="btn-dark btn-shadow">Work with us</button>
        </div>
        <img src="images/misc/adIllustration.svg" alt="">
    </div>
</section>