<div class="container">
    <div class="logo-nav">
        <img src="images/logos/Silicon-LightMode.svg" alt="Silicon logotype">
        <nav>
            <a href="">Overview</a>
            <a href="">Features</a>
            <a href="">Contact</a>
        </nav>
    </div>

    <div class="functionality">
        <div class="darkmode">
            <label>Light</label>
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>
            <label>Dark</label>
        </div>
        <button class="btn-header btn-pale">
            <span class="fa-solid fa-arrow-right-to-bracket me-2"></span>Sign in
        </button>
        <button class="btn-header btn-dark">
            <span class="fa-regular fa-user me-2"></span>Sign up
        </button>
    </div>
</div>
