@using Infrastructure.Models.Identity
@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@{
    AppUser? appUser = await UserManager.GetUserAsync(User);
    var profileImgURL = "";
    if (appUser != null) {
        profileImgURL = appUser.ProfileImageURL;
    }
}

<div class="container">
    <div class="logo-nav">
        <a asp-controller="home" asp-action="index">
            <img src=~/images/logos/Silicon-LightMode.svg alt="Silicon logotype">
        </a>
        <nav>
            <a asp-controller="home" asp-action="index">Overview</a>
            <a asp-controller="home" asp-action="index">Features</a>
            <a asp-controller="home" asp-action="index">Contact</a>
        </nav>
    </div>

    <div class="functionality">
        <div class="darkmode">
            <label>Light</label>
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>
            <label>Dark</label>
        </div>
        @if (SignInManager.IsSignedIn(User)) {
            @* Signed in, show profile icon *@
            <div class="profileButton">
                @if (!string.IsNullOrWhiteSpace(profileImgURL)) {
                    @* User has profile image *@
                    <img src="profileImgURL" alt="User's profile image">
                } else {
                    @* Default profile image *@
                    <img src="~/images/profile.png" alt="Default profile image">
                }
                <div class="profileMenu">
                    <a asp-action="AccountDetails" asp-controller="Account" class="button btn-dark btn-height-medium">Account Details</a>
                    <a asp-action="SignOut" asp-controller="Account" class="button btn-dark btn-height-medium">Sign Out</a>
                </div>
            </div>
        } else {
            @* Not signed in, show sign up/sign up buttons *@
            <a class="button btn-header btn-pale" asp-controller="account" asp-action="signin">
                <span class="fa-solid fa-arrow-right-to-bracket me-2"></span>Sign in
            </a>
            <a class="button btn-header btn-dark" asp-controller="account" asp-action="signup">
                <span class="fa-regular fa-user me-2"></span>Sign up
            </a>
        }
    </div>
</div>
