<section id="jumbotron">
    <div class="container">

        <div class="info">
            <h1>Task Management Assistant You Gonna Love</h1>
            <p>
                We offer you a new generation of task management system. Plan, manage & track all your tasks in one
                flexible tool.
            </p>
            <button class="btn-dark">Get started for free</button>
            <h6>Largest companies use our tool to work efficiently</h6>
            <div class="logos">
                <img src="~/images/logos/logoipsum-01.svg" alt="Company logo">
                <img src="~/images/logos/logoipsum-02.svg" alt="Company logo">
                <img src="~/images/logos/logoipsum-03.svg" alt="Company logo">
                <img src="~/images/logos/logoipsum-04.svg" alt="Company logo">
            </div>
        </div>

        <img src="~/images/jumbo.png" alt="Task management" class="jumboImg">
    </div>
</section>