<section id="management">
    <div class="container">
        <img src="images/management.png" alt="">

        <div class="info">
            <h3>Manage Your Work</h3>
            <ul>
                <li>Powerful project management</li>
                <li>Transparent work management</li>
                <li>Manage work & focus on the most important tasks</li>
                <li>Track your progress with interactive charts</li>
                <li>Easiest way to track time spent on tasks</li>
            </ul>
            <a href="" class="button btn-dark btn-height-medium">
                Learn More<span class="fa-solid fa-arrow-right ms-2"></span>
            </a>
        </div>

    </div>
</section>