<section id="themeMode">

    <div class="darkSide">
        <h2>Switch Between&nbsp;</h2>
    </div>

    <div class="middle">
        <img src="images/misc/slider.svg" alt="" id="sliderImage">
    </div>
    <div class="middle">
        <img src="images/misc/macbook-mockup.png" alt="" id="mockup">
    </div>
    <div class="lightSide">
        <h2>&nbsp;Light & Dark Mode</h2>
    </div>
</section>