@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
* {
  font-family: manrope, sans-serif;
  font-weight: bold;
}

p {
  color: #565973;
  font-weight: normal;
  font-size: 18px;
  line-height: 160%;
}

h1 {
  font-size: 56px;
  font-weight: 900;
  line-height: 130%;
}

h2 {
  font-size: 40px;
  font-weight: 900;
  line-height: 130%;
  margin-bottom: 15px;
}

h3 {
  font-size: 32px;
  font-weight: 900;
  line-height: 130%;
}

h4 {
  font-size: 24px;
  font-weight: 800;
  line-height: 140%;
}

h5 {
  font-size: 20px;
  font-weight: 800;
  line-height: 140%;
}

h6 {
  font-size: 16px;
  font-weight: 800;
}

a {
  color: #6366f1;
  text-decoration: none;
  font-weight: normal;
}
a.button {
  display: flex;
  align-items: center;
}
a:hover {
  text-decoration: underline;
}

.add-optional-text:after {
  content: " (optional)";
  color: #9397AD;
  font-weight: 600;
}

.error-text {
  color: #EF4444;
  font-size: 13px;
}

.price-text {
  color: #6366f1;
  font-size: 18px;
  font-weight: bold;
}
.price-text.sale {
  display: inline;
  color: #EF4444;
}
.price-text.original {
  display: inline;
  font-size: 16px;
  color: #9397AD;
  text-decoration: line-through;
  font-weight: normal;
}

ul {
  padding-left: 0;
}
ul li {
  color: #565973;
  font-size: 16px;
  font-weight: normal;
  line-height: 240%;
  list-style-type: none;
}
ul li::before {
  content: "✔";
  display: inline-block;
  margin-right: 12px;
  color: #6366f1;
  font-size: 12px;
  line-height: 140%;
  width: 18px;
  height: 18px;
  text-align: center;
  border: 2px solid #6366f1;
  border-radius: 50%;
}

* {
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.labelAndError {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.labelAndError label {
  margin-top: 20px;
  margin-bottom: 5px;
}

#error-msg {
  color: #EF4444;
  text-align: center;
  position: relative;
  top: -3em;
  height: 0;
  margin: 0;
}

input:focus,
button:focus,
a:focus,
textarea:focus {
  outline: solid 1px #6366f1;
}

.button,
button {
  height: 52px;
  border: none;
  border-radius: 6px;
  padding: 0px 25px;
  transition-property: color background-color;
  transition-duration: 0.3s;
}
.button:hover,
button:hover {
  text-decoration: none;
}
.button.btn-header,
button.btn-header {
  height: 36px;
}
.button.btn-dark,
button.btn-dark {
  color: #ffffff;
  background-color: #6366f1;
}
.button.btn-dark:hover,
button.btn-dark:hover {
  background-color: #eff2fc;
  color: #33354D;
}
.button.btn-pale,
button.btn-pale {
  color: #33354D;
  background-color: #eff2fc;
}
.button.btn-pale:hover,
button.btn-pale:hover {
  background-color: #6366f1;
  color: #ffffff;
}
.button.btn-transparent,
button.btn-transparent {
  color: #33354D;
  font-weight: bold;
}
.button.btn-transparent:hover,
button.btn-transparent:hover {
  background-color: #6366f1;
  color: #ffffff;
}
.button.btn-shadow,
button.btn-shadow {
  box-shadow: 0 5px 15px #B4B7C9;
}

input,
textarea {
  border: solid 1px #d4d7e5;
  border-radius: 10px;
  padding: 12px 15px;
  font-weight: normal;
  width: 100%;
}
input::placeholder,
textarea::placeholder {
  color: #B4B7C9;
}

input[type=checkbox] {
  position: relative;
  appearance: none;
  width: 18px;
  height: 18px;
  padding: 0px;
  border: solid 2px #B4B7C9;
  border-radius: 3px;
}
input[type=checkbox]:hover {
  background-color: #e2e5f1;
}
input[type=checkbox]:checked {
  background-color: #6366f1;
  color: #ffffff;
}
input[type=checkbox]:checked:hover {
  background-color: rgba(99, 102, 241, 0.8);
}
input[type=checkbox]:checked::after {
  content: "✔";
  font-size: 12px;
  line-height: 0;
  position: absolute;
  top: 7px;
  left: 2px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #565973;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #6366f1;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 24px;
}

.slider.round:before {
  border-radius: 50%;
}

header .container {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
}
header .container .logo-nav {
  display: flex;
  align-items: center;
}
header .container .logo-nav img {
  margin-right: 50px;
}
header .container .logo-nav nav {
  display: flex;
  gap: 25px;
}
header .container .logo-nav nav a {
  color: #33354D;
  font-weight: bold;
}
header .container .logo-nav nav a:hover {
  text-decoration: overline;
}
header .container .functionality {
  display: flex;
  align-items: center;
  gap: 20px;
}
header .container .functionality .darkmode {
  margin-right: 15px;
  display: flex;
  gap: 15px;
  align-items: center;
}
header .container .functionality .profileButton {
  position: relative;
}
header .container .functionality .profileButton img {
  width: 44px;
  border-radius: 50%;
}
header .container .functionality .profileButton .profileMenu {
  display: none;
  position: absolute;
  right: 0;
  flex-direction: column;
  align-items: end;
  gap: 5px;
  border: 1px solid #d4d7e5;
  border-radius: 3px;
  padding: 5px;
  background-color: #e2e5f1;
}
header .container .functionality .profileButton .profileMenu a {
  white-space: nowrap;
}
header .container .functionality .profileButton:hover > .profileMenu {
  display: flex;
}

#jumbotron .container {
  display: flex;
}
#jumbotron .container .info {
  margin-top: 11vh;
  width: 40%;
}
#jumbotron .container .info button {
  margin-top: 30px;
  margin-bottom: 100px;
  font-weight: normal;
  box-shadow: 0 10px 10px rgba(99, 102, 241, 0.2);
}
#jumbotron .container .info h6 {
  margin-bottom: 50px;
}
#jumbotron .container .info .logos {
  display: flex;
  gap: 15px;
}
#jumbotron .container .jumboImg {
  position: absolute;
  right: 0;
  z-index: -1;
}

#features {
  background-color: #f3f6ff;
  margin-top: 300px;
  padding-top: 9vh;
  padding-bottom: 9vh;
}
#features .container .title {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
#features .container .grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  background-color: #e2e5f1;
  gap: 1px;
}
#features .container .grid .content {
  padding: 30px 55px;
  background-color: #f3f6ff;
  text-align: center;
  transition-property: background-color border-radius box-shadow;
  transition-duration: 0.3s;
}
#features .container .grid .content:hover {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 5px 10px #e2e5f1;
  z-index: 1;
}
#features .container .grid .content img {
  width: 72px;
  height: 72px;
  border-radius: 6px;
}
#features .container .grid .content h5 {
  margin-top: 16px;
  margin-bottom: 12px;
}
#features .container .grid .content p {
  font-size: 16px;
}

#themeMode {
  display: grid;
  grid-template-columns: 1fr 0 0 1fr;
}
#themeMode .middle {
  display: flex;
  justify-content: center;
  align-self: center;
}
#themeMode .middle #sliderImage {
  z-index: 1;
}
#themeMode .middle #mockup {
  margin-top: 100px;
}
#themeMode .darkSide {
  padding-top: 9vh;
  padding-bottom: 9vh;
  color: #ffffff;
  background-color: #0b0f19;
  text-align: end;
}
#themeMode .lightSide {
  padding-top: 9vh;
  padding-bottom: 9vh;
}

#management {
  padding-top: 9vh;
  padding-bottom: 9vh;
}
#management .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
#management .container img {
  position: relative;
  left: -50px;
}
#management .container .info {
  margin-left: 100px;
}
#management .container .info h3 {
  margin-bottom: 25px;
}
#management .container .info a {
  margin-top: 30px;
  width: fit-content;
}

#newsletter {
  background-color: #f3f6ff;
  padding-top: 9vh;
  padding-bottom: 9vh;
}
#newsletter .container {
  width: 50%;
}
#newsletter .container h2 {
  display: inline-block;
  margin-bottom: 50px;
  margin-right: 25px;
}
#newsletter .container label {
  color: #9397AD;
  font-weight: normal;
}
#newsletter .container .newsletters {
  display: flex;
}
#newsletter .container .newsletters label {
  color: #0b0f19;
}
#newsletter .container .newsletters .selection-grid {
  display: grid;
  width: 100%;
  padding-left: 75px;
  grid-template-columns: repeat(3, 1fr);
}
#newsletter .container .newsletters .selection-grid .grid-item {
  text-align: justify;
}
#newsletter .container .newsletters .selection-grid .grid-item label {
  position: relative;
  bottom: 4px;
  margin-left: 10px;
}
#newsletter .container form .email-input {
  margin-top: 50px;
  margin-bottom: 10px;
  position: relative;
  display: flex;
}
#newsletter .container form .email-input .fa-envelope {
  position: absolute;
  color: #B4B7C9;
  top: 16px;
  left: 20px;
  font-size: 20px;
}
#newsletter .container form .email-input input[type=text] {
  padding-left: 55px;
}
#newsletter .container form .email-input button {
  margin-left: 16px;
  text-wrap: nowrap;
  font-weight: normal;
}

#signin {
  margin-top: 11vh;
  margin-bottom: 11vh;
}
#signin .container {
  width: 550px;
}
#signin .container p {
  font-size: 16px;
}
#signin .container form {
  display: flex;
  flex-direction: column;
}
#signin .container form label {
  margin-top: 20px;
  margin-bottom: 5px;
}
#signin .container form .rememberMe {
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
}
#signin .container form .rememberMe label {
  margin: 0;
  font-weight: normal;
  margin-left: 10px;
}
#signin .container form .forgotPassword {
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
}

#signup {
  margin-top: 11vh;
  margin-bottom: 11vh;
}
#signup .container {
  width: 550px;
}
#signup .container p {
  font-size: 16px;
}
#signup .container form {
  display: flex;
  flex-direction: column;
}
#signup .container form .nameEntry {
  display: flex;
  gap: 20px;
}
#signup .container form .nameEntry .nameBox {
  width: 100%;
}
#signup .container form .terms {
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
}
#signup .container form .terms label {
  margin: 0;
  font-weight: normal;
  margin-left: 10px;
}

#accountDetails .container {
  height: 100%;
  display: grid;
  grid-template-columns: 325px auto;
}
#accountDetails .container form .flexBox {
  display: flex;
  gap: 20px;
}
#accountDetails .container form .flexBox .box {
  width: 100%;
}
#accountDetails .container form .button {
  height: 40px;
}
#accountDetails .container .form-buttons {
  margin-top: 30px;
}
#accountDetails .container .profile {
  padding: 0 12px;
  padding-top: 3vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#accountDetails .container .profile .imageAndIcon {
  position: relative;
  margin-bottom: 15px;
}
#accountDetails .container .profile .imageAndIcon img {
  width: 120px;
  border-radius: 50%;
}
#accountDetails .container .profile .imageAndIcon .newProfileImage {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #e2e5f1;
  border-radius: 50%;
  box-shadow: 0 2px 15px #e2e5f1;
}
#accountDetails .container p {
  font-size: 16px;
  margin-bottom: 30px;
}
#accountDetails .container a {
  width: 100%;
}
#accountDetails .updateInfo {
  padding-top: 4vh;
  padding-bottom: 9vh;
  padding-left: 12%;
  border-left: 1px solid #e2e5f1;
}
#accountDetails .updateInfo h5 {
  color: #6366f1;
  margin-top: 30px;
}
#accountDetails .updateInfo .basicInfo {
  padding-bottom: 3vh;
}
#accountDetails .updateInfo .addressInfo {
  border-top: 1px solid #e2e5f1;
  display: grid;
}

#courses {
  margin-top: 11vh;
}
#courses .container .titleAndSearch {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
#courses .container .titleAndSearch .searchAndDropdown {
  position: relative;
}
#courses .container .titleAndSearch .searchAndDropdown input {
  padding-right: 35px;
}
#courses .container .titleAndSearch .searchAndDropdown span {
  position: absolute;
  right: 16px;
  top: 16px;
}
#courses .container .gridBox {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}
#courses .container .gridBox .content {
  position: relative;
  border-radius: 10px;
  box-shadow: 0 5px 10px #B4B7C9;
  overflow: hidden;
}
#courses .container .gridBox .content img {
  object-fit: cover;
  height: 240px;
  width: 100%;
}
#courses .container .gridBox .content .bestseller {
  position: absolute;
  top: 16px;
  left: 16px;
  font-size: 14px;
  font-weight: normal;
  color: #ffffff;
  background-color: #22C55E;
  padding: 0 8px;
  border-radius: 5px;
}
#courses .container .gridBox .content .fa-bookmark {
  position: absolute;
  top: 16px;
  right: 16px;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  transition-property: color, background-color;
  transition-duration: 0.3s;
}
#courses .container .gridBox .content .fa-bookmark:hover {
  color: #ffffff;
  background-color: #6366f1;
}
#courses .container .gridBox .content .textBox {
  padding: 25px 25px 10px;
}
#courses .container .gridBox .content .textBox .author {
  font-size: 14px;
}
#courses .container .gridBox .content .textBox .stats p {
  color: #9397AD;
  font-size: 14px;
}
#courses .container .gridBox .content .stats {
  display: flex;
  gap: 15px;
}

#courseAd {
  margin-top: 9vh;
  margin-bottom: 9vh;
}
#courseAd .container {
  display: flex;
  background-color: #f3f6ff;
  border-radius: 10px;
  padding: 25px 100px;
  align-items: center;
  justify-content: space-between;
}
#courseAd .container .textBox .title {
  font-size: 24px;
}
#courseAd .container .textBox .purple {
  color: #6366f1;
}

#socials .container {
  display: flex;
  justify-content: center;
  gap: 16px;
  padding-top: 5vh;
  margin-bottom: 3vh;
}
#socials .container img {
  background-color: #f3f6ff;
  padding: 12px;
  border-radius: 6px;
  transition-property: color background-color;
  transition-duration: 0.3s;
}
#socials .container img:hover {
  background-color: #6366f1;
}

footer .container {
  width: 50%;
  text-align: center;
  padding-top: 1vh;
  padding-bottom: 6vh;
}
footer .container p {
  color: #9397ad;
  font-size: 14px;
}
