<!DOCTYPE html>
<html lang="en">

<head>
    <title>@ViewData["Title"] | Silicon Design</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.min.css" asp-append-version="true" />

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/41c8b474e2.js" crossorigin="anonymous"></script>
</head>

<body>

    <header>
        <partial name="~/views/shared/sections/_header.cshtml" />
    </header>

    <main>
        @RenderBody()
    </main>

    <footer>
        <partial name="~/views/shared/sections/_footer.cshtml" />
    </footer>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @* @await RenderSectionAsync("Scripts", required: false) *@
</body>
</html>
