#features {
   background-color: $color-background-violet;
   margin-top: 300px;

   padding-top: 9vh;
   padding-bottom: 9vh;

   .container {

      .title {
         width: 50%;
         margin: 0 auto;
         text-align: center;
      }

      .grid {
         display: grid;
         grid-template-columns: repeat(3, minmax(0, 1fr));
         background-color: $color-gray-300;
         gap: 1px;

         .content {
            padding: 30px 55px;
            background-color: $color-background-violet;
            text-align: center;

            @include transition(background-color border-radius box-shadow);

            &:hover {
               background-color: $color-white;
               border-radius: 8px;
               box-shadow: 0 5px 10px $color-gray-300;
               z-index: 1;
            }

            img {
               width: 72px;
               height: 72px;

               border-radius: 6px;
            }

            h5 {
               margin-top: 16px;
               margin-bottom: 12px;
            }

            p {
               @include p-m;
            }
         }
      }
   }
}