header {

   .container {

      display: flex;
      justify-content: space-between;
      padding: 16px 0;

      .logo-nav {
         display: flex;
         align-items: center;

         img {
            margin-right: 50px;
         }

         nav {
            display: flex;
            gap: 25px;

            a {
               color: $color-gray-800;
               text-decoration: none;

               &:hover {
                  text-decoration: overline;
               }
            }
         }
      }

      .functionality {
         display: flex;
         align-items: center;
         gap: 20px;

         .darkmode {
            margin-right: 15px;

            display: flex;
            gap: 15px;
            align-items: center;
         }
      }
   }
}