#signup {
    margin-top: 11vh;
    margin-bottom: 11vh;

    .container {
        width: 550px;

        p {
            @include p-m;
        }

        form {
            display: flex;
            flex-direction: column;

            .nameEntry {
                display: flex;
                gap: 20px;

                .nameBox, input {
                    width: 100%;
                }
            }
        }

        label {
            margin-top: 20px;
            margin-bottom: 5px;
        }

        button {
            @include boxshadow;
        }

        .terms {
            margin-top: 25px;
            margin-bottom: 25px;
            display: flex;
            align-items: center;

            label {
                margin: 0;
                font-weight: normal;
                margin-left: 10px;
            }
        }
    }
}
