@model SignUpViewModel;

<section id="signup">
    @{
        if (!string.IsNullOrWhiteSpace(Model.ErrorMessage)) {
            <h5 id="error-msg">@Model.ErrorMessage</h5>
        }
    }
    <div class="container">
        <h2>Create Account</h2>

        <div class="d-flex">
            <p>Already have an account?&nbsp;</p><a asp-controller="account" asp-action="signin">Sign in here.</a>
        </div>

        <form method="post" asp-controller="account" asp-action="signup" novalidate>
            <div class="nameEntry">
                <div class="nameBox">
                    <div class="labelAndError">
                        <label asp-for="FormSignUp.FirstName"></label>
                        <span asp-validation-for="FormSignUp.FirstName" class="error-text"></span>
                    </div>
                    <input asp-for="FormSignUp.FirstName">
                </div>
                <div class="nameBox">
                    <div class="labelAndError">
                        <label asp-for="FormSignUp.LastName"></label>
                        <span asp-validation-for="FormSignUp.LastName" class="error-text"></span>
                    </div>
                    <input asp-for="FormSignUp.LastName">
                </div>
            </div>

            <div class="labelAndError">
                <label asp-for="FormSignUp.Email"></label>
                <span asp-validation-for="FormSignUp.Email" class="error-text"></span>
            </div>
            <input asp-for="FormSignUp.Email">

            <div class="labelAndError">
                <label asp-for="FormSignUp.Password"></label>
                <span asp-validation-for="FormSignUp.Password" class="error-text"></span>
            </div>
            <input asp-for="FormSignUp.Password">

            <div class="labelAndError">
                <label asp-for="FormSignUp.PasswordConfirm"></label>
                <span asp-validation-for="FormSignUp.PasswordConfirm" class="error-text"></span>
            </div>
            <input asp-for="FormSignUp.PasswordConfirm">

            <div class="terms">
                <input type="checkbox" asp-for="FormSignUp.AcceptTerms">
                <div class="labelAndError">
                    <label asp-for="FormSignUp.AcceptTerms">I agree to the <a asp-controller="business" asp-action="terms">Terms & Conditions</a></label>
                    <span asp-validation-for="FormSignUp.AcceptTerms" class="error-text"></span>
                </div>
            </div>

            <button class="btn-dark btn-shadow" type="submit">Sign up</button>
        </form>
    </div>
</section>